body{
    margin-left: 35%;
    width: 500px;
    height: 700px;
}

header{
    text-align: center;
    margin:auto;
    width: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #333;
    color: white;
}

button{
    margin-top: 45px;
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 7px;
    margin-left: 40%;
}

.entrada{
    align-items: center;
    margin-top: 5px;
    height: 25px;
}

#containder{
    margin-top: 35px;
    text-align: center;
    color: white;
}

#alll{
    background-color: #333;
    width: 500px;
    height: 650px;
    border-radius: 15px;
}

#all{
    background-color: #333;
    width: 500px;
    height: 550px;
    border-radius: 15px;
}

.row{
    margin-top: 20px;
}

#valor{
    margin-top: 45px;
    height: 45px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 7px;
    margin-left: 35%;
}




